Repository kowainik/extensions, pull requests merged in 2020-04, with the labels that each got.

#9 [#2] Parse .cabal file for default extensions per stanza
  extensions.cabal
  src/Extensions/Cabal.hs
Labels: cabal

#7 [#1] Parse hs file for extensions
  extensions.cabal
  src/Extensions/Parser.hs
  test/Spec.hs
  test/Test/Extensions/Parser.hs
Labels: library :books:, parser

#15 [#10] Handle 'Main'-like files in executables, benchmarks and test-suites
  src/Extensions/Cabal.hs
Labels: cabal

#14 [#3] Support CPP in extensions
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: enhancement, parser

#18 [#16] Parse extensions that don't obey 'Read' instance
  src/Extensions/Cabal.hs
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#20 [#4] Add tests for .cabal parsing
  extensions.cabal
  test/Spec.hs
  test/Test/Extensions/Cabal.hs
Labels: cabal, tests

#21 [#19] Create OnOff Extension data type
  extensions.cabal
  src/Extensions/OnOff.hs
  src/Extensions/Parser.hs
  test/Spec.hs
  test/Test/Extensions/Cabal.hs
  test/Test/Extensions/OnOff.hs
Labels: cabal, enhancement, parser, tests

#22 [#8] Parse 'No*' extentions
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#23 [#13] Parser doesn't fail when meets unknown extension
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#25 [#24] Return OnOffExtension in cabal parsing
  src/Extensions/Cabal.hs
  test/Test/Extensions/Cabal.hs
Labels: cabal, refactoring

#27 [#26] Move to Map from HashMap
  extensions.cabal
  src/Extensions/Cabal.hs
  test/Test/Extensions/Cabal.hs
Labels: enhancement

#28 [#12] Support single-line comments in module parsing
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#30 [#17] Merge cabal extensions and module parsed extensions
  extensions.cabal
  src/Extensions.hs
  test/Spec.hs
  test/Test/Extensions.hs
  test/Test/Extensions/Cabal.hs
Labels: enhancement

#29 [#11] Support GHC Options in module parsing
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#34 [#33] Add tests for getExtensions* functions
  extensions.cabal
  src/Extensions.hs
  test/Test/Extensions.hs
Labels: tests

#35 [#5] Add tests for per module parser
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#37 [#36] Handle 'Safe', 'Trustworthy' and 'Unsafe' extensions
  src/Extensions/Cabal.hs
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: parser, tests

#40 [#31] Handle non-existing cabal file
  src/Extensions.hs
  src/Extensions/Cabal.hs
  test/Test/Extensions.hs
  test/Test/Extensions/Cabal.hs
Labels: cabal, tests

#42 [#41] Handle non-existing modules in parsing
  src/Extensions/Parser.hs
  test/Test/Extensions/Parser.hs
Labels: enhancement, tests
